@charset "UTF-8";

/**
 * @file
 * Alphabar-specific stylesheet for G2 Glossary module.
 *
 * @copyright 2005-2024 Frédéric G. Marand, for Ouest Systèmes Informatiques.
 */

/**
 * Use a fixed width to layout the alphabar as a character grid
 */
.g2-alphabar a {
  display: inline-block;
  box-sizing: content-box;
  width: 1.5em;
  text-align: center;
  border: thin solid transparent;
}
